<nav class="navbar navbar-expand-lg" style="background-color: #6f42c1">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <div class="d-flex align-items-center">
      <img
        src="/static/img/sicoes.jpg"
        alt="Logo Izquierdo"
        style="height: 40px"
      />
    </div>
    <div class="text-white text-center flex-grow-1 navbar-title">
      Quick Search
    </div>
    <div class="d-flex align-items-center">
      <img
        src="/static/img/sicoes.jpg"
        alt="Logo Derecho"
        style="height: 40px"
      />
    </div>
  </div>
</nav>
